@import "tailwindcss";

button,[role=button] {
    cursor: pointer;
}

.hover\:opacity-100:hover {
    opacity: 1
}

.group:hover .group-hover\:block {
    display: block;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-0.5rem)
    }

    to {
        opacity: 1;
        transform: translateY(5)
    }
}

.group:hover .group-hover\:animate-fade-down {
    animation: fade-down 1s both;
}


.group:hover .group-hover\:animate-duration-200 {
    animation-duration: .4s;
}
