---
import Layout from "@/layouts/Layout.astro";
import HeroContainer from "../HeroContainer.astro";
import Galeria from "../Galeria.astro";

---

<Layout title="Portafolio" description="Aqui encontraras nuestros proyectos desarrollados y en funcionamiento constante.">
    <HeroContainer>
        <h2 class="text-4xl font-semibold text-balance mb-4 text-center text-white">Portafolio</h2>
            <p class="text-white text-base md:text-lg max-w-xl text-center">
                Aqui encontraras nuestros proyectos desarrollados y en funcionamiento constante.
            </p>
    </HeroContainer>
    <Galeria />
</Layout>