---
import Layout from '@/layouts/Layout.astro';
import HeroContainer from '@/components/HeroContainer.astro';    
---

<Layout
  title="Servicio"
  description="Servicio">
  <HeroContainer img=""/>
  <main class="pb-24">
    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="theater-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          Facturación Electrónica
        </h1>
        <p>Sistema de Facturación Electrónica y gestión empresarial. Control total, fácil y con reportes precisos.</p>
        <p>Con el sistema de facturación electrónica, podrás llevar un control total de tus ventas y compras, generando reportes precisos y en tiempo real.</p>
      </div>
      <div id="theater" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img 
          class="rounded-md" 
          height={300} 
          src="/images/tspfacpro.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
        }}
        width={300}/>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="trophies" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img
          class="rounded-md"
          height={300}
          src="/images/LogoChef.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
          }}
          width={300}
        />
      </div>
      <div id="trophies-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          Sistema Gastronómico (Chef)
        </h1>
        <p>Aumenta la productividad y disminuye los tiempos de tareas garantizando la satisfacción de tus clientes.</p>
        <p>Podrás llevar un control de tus productos, menús, ventas y compras, generando reportes precisos y en tiempo real.</p>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="theater-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          Sistema Parking
        </h1>
        <p>Gestiona los tiempos y tarifas de los vehiculos alojados en tu aparcamiento.</p>
        <p>Además, podrás gestionar los pagos de tus clientes y llevar un control de los vehículos que ingresan y salen de tu aparcamiento.</p>
      </div>
      <div id="theater" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img 
          class="rounded-md" 
          height={300} 
          src="/images/ParkingLogo.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
        }}
        width={300}/>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="trophies" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img
          class="rounded-md"
          height={300}
          src="/images/PaginaWebLogo.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
          }}
          width={300}
        />
      </div>
      <div id="trophies-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          Páginas Web
        </h1>
        <p>Construimos tu página web mediante diseños creativos de alto impacto visual para atraer más clientes.</p>
        <p>Contamos con los mejores diseñadores y programadores para garantizar la calidad de tu página web.</p>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="theater-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          Tienda Virtual
        </h1>
        <p>Creamos tu tienda virtual y la dejamos lista para empezar a vender. Publica tus productos y empieza a recibir pedidos en tiempo real.</p>
        <p>Contamos con un equipo de expertos que te ayudarán a crear la tienda virtual perfecta para tu negocio.</p>
      </div>
      <div id="theater" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img 
          class="rounded-md" 
          height={300} 
          src="/images/TiendaVirtualLogo.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
        }}
        width={300}/>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="trophies" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img
          class="rounded-md"
          height={300}
          src="/images/LandingPage.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
          }}
          width={300}
        />
      </div>
      <div id="trophies-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          Landing Page
        </h1>
        <p>Diseñamos la página de aterrizaje para tu campaña digital, optimizada para lograr tus objetivos y ayudarte a ganar más clientes a un bajo costo.</p>
        <p>Contamos con un equipo de expertos en diseño de paginas para crear la landing page perfecta para tu negocio.</p>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="theater-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          Hosting Dominio y Correo
        </h1>
        <p>Los servicios de alojamiento web, permiten que su negocio, llegue fácilmente a millones de usuarios en su comunidad y el resto del mundo.</p>
        <p>Contamos con los mejores servidores y tecnología para garantizar la seguridad y velocidad de tu sitio web.</p>
      </div>
      <div id="theater" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img 
          class="rounded-md" 
          height={300} 
          src="/images/DominioLogo.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
        }}
        width={300}/>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="trophies" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img
          class="rounded-md"
          height={300}
          src="/images/Equipo.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
          }}
          width={300}
        />
      </div>
      <div id="trophies-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          Equipos Informáticos
        </h1>
        <p>Vendemos productos de última tecnología a los mejores precios y reparamos sus equipos como nuevos.</p>
        <p>Contamos con un equipo de expertos en tecnología que te ayudarán a elegir el mejor equipo para tu negocio.</p>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="theater-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          Marketing Digital
        </h1>
        <p>Posicinamos su negocio en los primeros buscadores de internet y hacemos campañas publicitarias para que su negocio siga creciendo.</p>
        <p>Contamos con un equipo de expertos en marketing digital que te ayudarán a crear la estrategia perfecta para tu negocio.</p>
      </div>
      <div id="theater" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img 
          class="rounded-md" 
          height={300} 
          src="/images/MarketingDigitalLogo.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
        }}
        width={300}/>
      </div>
    </section>
  </main>
</Layout>

<style>
  #theater,
  #trophies-text h1,
  #trophies-text p {
    animation: cover-animation linear both;
    animation-timeline: view();
  }
  #theater-text h1,
  #theater-text p,
  #trophies {
    animation: entry-animation linear both;
    animation-timeline: view();
  }
  #theater {
    animation-range: entry 10% cover 40%;
  }
  #theater-text h1 {
    animation-range: entry 10% cover 30%;
  }
  #theater-text p {
    animation-range: entry 10% cover 20%;
  }
  #trophies {
    animation-range: entry 30% cover 50%;
  }
  #trophies-text h1 {
    animation-range: entry 30% cover 40%;
  }
  #trophies-text p {
    animation-range: entry 20% cover 30%;
  }
  @keyframes entry-animation {
    0% {
      opacity: 0;
      translate: var(--entry-animation) 0;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
  @keyframes cover-animation {
    0% {
      opacity: 0;
      translate: var(--cover-animation) 0;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
</style>