<section>
  <div class="slider">
    <br /><br />
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div
          class="section-heading wow bounceIn"
          data-wow-duration="1s"
          data-wow-delay="0.2s"
        >
          <h1
            class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
          >
            Nuestros Clientes
          </h1>
          <h2
            class="text-3xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
          >
            Con nuestros<span> diseños &amp; soluciones</span> ayudamos <br /> a
            empresas como:
          </h2>
        </div>
      </div>
    </div>
    <div class="slide-track">
      <div class="slide">
        <img src="/images/1.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/2.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/3.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/4.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/5.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/6.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/7.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/8.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/9.png" alt="" />
      </div>

      <div class="slide">
        <img src="/images/1.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/2.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/3.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/4.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/5.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/6.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/7.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/8.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/9.png" alt="" />
      </div>
    </div>
  </div>
</section>
