---
import { getI18N } from "src/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section>
  <div class="slider">
    <br /><br />
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
          <h1
            class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
          >
            {i18n.CLIENTS_TITLE}
          </h1>
          <h2
            class="text-2xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
          >
            {i18n.CLIENTS_SUBTITLE} <br /> {i18n.CLIENTS_SUBTITLE_AFTER_BR}
          </h2>
      </div>
    </div>
    <div class="slide-track">
      <div class="slide">
        <img src="/images/1.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/2.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/3.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/4.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/5.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/6.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/7.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/8.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/9.png" alt="" />
      </div>

      <div class="slide">
        <img src="/images/1.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/2.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/3.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/4.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/5.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/6.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/7.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/8.png" alt="" />
      </div>
      <div class="slide">
        <img src="/images/9.png" alt="" />
      </div>
    </div>
  </div>
</section>
