
<div class="grid grid-cols-2 max-w-6xl gap-4 mx-auto py-20" id="gallery">
    {
        Array.from({ length: 8 }).map((_, i) => (
        <figure class="pswp-docs__home-gallery-item">
        <a
        class="group rounded-xl hover:scale-105 hover:contrast-[110%] transition-all relative"
        href={`/archivo-gallery/portfolio-${i + 1}.jpg`}
        target="_blank"
        data-pswp-width="585"
        data-pswp-height="400"
        data-cropped="true"
        ><img
            class="group rounded-xl hover:scale-105 hover:contrast-[110%] transition-all relative"
            sizes="(min-width: 1124px) 524px, 100vw"
            loading="lazy"
            srcset={`/archivo-gallery/portfolio-${i + 1}.jpg`}
            src={`/archivo-gallery/portfolio-${i + 1}.jpg`}
            alt=""
        /></a>
        </figure>
        ))
    }
</div>