---
import HeaderLink from "@/components/HeaderLink.astro";
import { getI18N } from "@/i18n";
import Button from "@/components/Button.tsx";
import LanguageSelector from "@/components/LanguageSelector.astro";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";
import MenuIcon from "@/components/icons/Menu.astro";
import CloseIcon from "@/components/icons/Close.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50">
  <div class="max-w-7xl mx-auto flex items-center justify-between gap-16">
    <HeaderLink
      checkActive={false}
      href={translatePath("/")}
      class="relative z-10"
    >
      <img
        class="w-25 m-auto hover:opacity-100 opacity-90 transition-opacity duration-300 block flex justify-center"
        src="/images/logoTSP.svg"
        alt="TSP-Negocios"
      />
    </HeaderLink>
    <nav
      id="header-menu"
      class="text-white fixed w-full h-dvh inset-0 bg-[#BF1F17]/90 md:text-xl lg:text-xl flex flex-col items-center justify-center gap-8 -translate-y-full transition-transform duration-300 target:translate-y-0 md:static md:h-[initial] md:bg-[initial] md:flex-row md:translate-y-[initial]"
    >
      <HeaderLink class="text__glowing" href={translatePath("/servicio/")}>
        {t("nav.servicio")}
      </HeaderLink>
      <HeaderLink class="text__glowing" href={translatePath("/archivo/")}>
        {t("nav.archivo")}
      </HeaderLink>
      <LanguageSelector />
      <Button
        className="lg:text-2xl md:px-5 md:text-xl text-xs w-fit font-medium no-underline px-3 py-3 border border-solid border-white rounded-full uppercase _button_10p5w_1 md:py-2 md:ml-auto md:text-base lg:text-base" target="" url={translatePath("/contacto/")}>
        {i18n.HEADER_BUTTON}
      </Button>
      <a href="#header-nav" class="md:hidden absolute top-6 right-6">
        <CloseIcon />
      </a>
    </nav>
    <a href="#header-menu" class="md:hidden"><MenuIcon /></a>
  </div>
</header>
