---
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({currentLocale});
---

<div class="relative w-auto max-w-[100vw] xl:h-full">
    <div class="inset-0 h-full z-10 m-auto flex flex-col items-center w-full">
      <div class="absolute w-full flex flex-col items-center">
        <img 
          class="animated animatedFadeInUp fadeInUp absolute top-30 z-10 w-[500px] left-0 right-0 m-auto flex" 
          alt="TspNegocios" 
          src="/images/logoTSP.png"
        />
      
        <div class="animated fadeInUp mt-[400px] sm:mt-[450px] lg:mt-[500px] text-center z-20 font-mono">
          <h2 class="text-white text-xl sm:text-5xl font-semibold ">
            {i18n.VIDEO_SUBTITLE}
          </h2>
        </div>
      </div>
        <video id="main-video" preload="metadata" playsinline class="video h-[85vh] w-full object-cover object-top animate-duration-[2s] animate-ease-in-out " src="/2.webm" autoplay loop muted style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"></video>
    </div>
    <video
    class="video absolute -bottom-20 -z-40 blur-3xl w-screen h-[40vh] object-cover object-top animate-duration-[2s] animate-ease-in-out"
    autoplay
    loop
    muted
    preload="metadata"
    src=""
  >
  </video>
</div>

<script>
    document.addEventListener("astro:page-load", () => {
      const firstVideo = document.querySelector("#main-video") as HTMLMediaElement
  
      if (firstVideo) {
        const videos = document.querySelectorAll(
          ".video"
        ) as NodeListOf<HTMLMediaElement>
  
        if (firstVideo.readyState >= 3) {
          videos.forEach((videoEl) => {
            videoEl.classList.remove("hidden")
            videoEl.classList.add("animate-fade")
          })
  
          return
        }
  
        firstVideo.addEventListener("loadeddata", () => {
          videos.forEach((videoEl) => {
            videoEl.classList.remove("hidden")
            videoEl.classList.add("animate-fade")
          })
        })
      }
    })
  </script>
  

